<form action="<%= cats_url %>" method="post">
    <label> Name:
        <input type="text" name="cat[name]">
    </label>

    <label> Birth Date:
        <input type="date" name="cat[birth_date]">
    </label>

    <label> Color:
        <input type="text" name="cat[color]">
    </label>

    <input type="submit" value="Create Cat">

</form>